# Notebooks' rubbish
.ipynb_checkpoints/
__pycache__/
.idea/
*.pyc

# do not track docs conserning the project
docs_theory_etc/

# Don't track sketches of modules
notebooks/
python_speech_recognition_master/

# Don't track data
data/

# Don't track any pictures.
*.jpg
*.png

# Don't track .pdf files
*.pdf

# Don't track any .pkl files.
*.pkl

# Don't track .doc and .docx files
*.doc
*.docx

# Don't track any .txt files
*.txt
# except for
!requirements.txt

# don't track databases
*.db

# don't track learing materials
docs_theory_etc/
papers/
